@use 'header.scss';
@use 'colors.scss';
@use 'buttons.scss';
@use 'form_containers.scss';
@use 'inputs.scss';

.header {
	@extend %header;
}

body {
	margin: 0;
	background-color: colors.$background-color;
}

.budget-info-container {
	@extend %simple-form-container;
	max-width: 800px;
	
	.info-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		
		h1 {
			margin: 0;
			color: colors.$form-caption-color;
		}
		
		button {
			@extend %simple-button;
		}
		
		.show-report-button {
			background-color: colors.$blue-button-color;
		}

		.transfer-money-button {
			background-color: colors.$green-button-color;
		}

		.delete-button {
			background-color: colors.$red-button-color;
		}
	}
	
	.content {
		padding: 20px;
		
		.item {
			display: flex;
			align-items: baseline;
			margin-bottom: 10px;
			
			label {
				flex: 1;
				font-weight: bold;
				margin-right: 10px;
			}
			
			input {
				@extend %simple-input;
				flex: 2;
			}
		}
		
		.list {
			width: 100%;
			border-collapse: collapse;
			margin-top: 20px;
			
			th {
				background-color: colors.$blue-color;
				color: #fff;
				padding: 10px;
				text-align: center;
			}
			
			td {
				padding: 10px;
				border-bottom: 1px solid #ccc;
				text-align: center;
				
				&:last-child {
					button {
						@extend %simple-button;
						background-color: colors.$red-button-color;
						padding: 5px 10px;
					}
				}
			}
		}
	}
}
