@use "header.scss";
@use "colors.scss";
@use "buttons.scss";
@use "form_containers.scss";
@use "inputs.scss";
@use "tables.scss";

.header {
	@extend %header;
}

body {
	margin: 0;
	background-color: colors.$background-color;
}

.budget-info-container {
	@extend %simple-form-container;
	max-width: 800px;
	
	.info-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
		
		.budget-info {
			@extend %simple-caption;
			margin: 0;
		}
		
		button {
			@extend %simple-button;
		}
	}	
}

.show-report-button {
	background-color: colors.$blue-button-color;
}

.transfer-money-button {
	background-color: colors.$green-button-color;
}

.delete-button {
	background-color: colors.$red-button-color;
}

.item {
	display: flex;
	align-items: baseline;
	margin-bottom: 10px;
	
	label {
		flex: 1;
		font-weight: bold;
		margin-right: 10px;
	}
	
	input {
		@extend %simple-input;
		flex: 2;
	}
}

.list {
	@extend %table-with-actions;
}

.delete-button {
	background-color: colors.$red-button-color;
}


.new-member-container {
	width: 100%;
	margin: 10px;
}

.new-member-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 10px;
}

.new-member-caption {
	font-weight: bold;
	font-size: 19px;
}

.new-member-button {
	@extend %simple-button;
	padding: 5px 10px;
	margin-right: 10px;
	background-color: colors.$green-button-color;
}

.new-member-input {
	@extend %simple-input;
	box-sizing: border-box;
	width: 100%;
}
