$blue-color: #3498db;
$white-color: #ffffff;
$gray-color: #999;
$red-color: #e74c3c;

$form-caption-color: $blue-color;
$background-color: #F0F4F7;
$content-background-color: #ffffff;

$header-background-color: white;
$header-text-color: #333;

$green-button-color: #4CAF50;
$red-button-color: $red-color;
$blue-button-color: $blue-color;
$azure-button-color: #097969;