@use "header.scss";
@use "colors.scss";
@use "buttons.scss";
@use "form_containers.scss";
@use "inputs.scss";
@use "tables.scss";

.header {
	@extend %header;
}

body {
	margin: 0;
	background-color: colors.$background-color;
}

.users-container {
	@extend %simple-form-container;
	max-width: 800px;
}

.users-caption {
	@extend %simple-caption;
	margin: 0;
}

.users-list {
	@extend %table-with-actions;
}

.budgets-button {
	background-color: colors.$green-button-color;
}

.edit-button {
	background-color: colors.$blue-button-color;
}

.delete-button {
	background-color: colors.$red-button-color;
}
