@use "header.scss";
@use "colors.scss";
@use "buttons.scss";
@use "form_containers.scss";

.header {
	@extend %header;
}

body {
	box-sizing: border-box;
	margin: 0;
	background-color: colors.$background-color;
}

.container {
	@extend %simple-form-container;
	max-width: 600px;
}

.form-caption {
	@extend %simple-caption;
}

.transfer-money-form {
	display: flex;
	flex-direction: column;
	label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
	}
}

.form-group {
	margin-bottom: 1rem;
}

.budget-selector {
	background-color: transparent;
	width: 100%;
	border: 1px solid colors.$gray-color;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: none;
	outline: none;
	transition: all 0.3s ease-in-out;
	margin-bottom: 10px;
	&:hover, &:focus {
		border-color: colors.$gray-color;
	}
	
	&:focus {
		box-shadow: 0 0 5px colors.$gray-color;
	}

	&::after {
		content: "\f107";
		font-family: FontAwesome;
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		pointer-events: none;
	}
}

.money-amount-selector {
	background-color: transparent;
	width: 100%;
	border: 1px solid colors.$gray-color;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: none;
	outline: none;
	transition: all 0.3s ease-in-out;
	margin-bottom: 10px;
	box-sizing: border-box;
	&:hover, &:focus {
		border-color: colors.$gray-color;
	}
	
	&:focus {
		box-shadow: 0 0 5px colors.$gray-color;
	}
}

.submit-button {
	@extend %simple-button;
	background-color: colors.$green-button-color;
}
