.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 24px;
  background-color: white;
  gap: 10px;
}
.header nav ul li {
  list-style: none;
  margin: 0 1rem;
}
.header nav ul li a {
  color: #333;
  text-decoration: none;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #333;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}
.header nav ul li a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.buttons-container button {
  padding: 10px 15px;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.buttons-container button:hover {
  filter: brightness(90%);
}

.budgets-container {
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.budgets-table {
  border-collapse: separate;
  border-spacing: 0 20px;
  width: 100%;
  table-layout: fixed;
}
.budgets-table caption {
  font-size: 33px;
}
.budgets-table th, .budgets-table td {
  text-align: left;
  font-size: 19px;
  vertical-align: middle;
  padding: 10px;
}
.budgets-table thead {
  color: grey;
  font-weight: 700;
}
.budgets-table tbody tr {
  background-color: white;
  box-shadow: 0 0 4px blue;
  transition: all 0.2s ease-in-out;
}
.budgets-table tbody tr:hover {
  transform: scale(1.003);
}
@media screen and (max-width: 1000px) {
  .budgets-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .budgets-table td {
    display: block;
    width: 95% !important;
  }
  .budgets-table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
  }
  .budgets-table td:last-child {
    border-bottom: 0;
  }
}

body {
  background-color: #F0F4F7;
  margin: 0;
}

.budgets-container {
  margin: 100px;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .budgets-container {
    margin: 10px;
  }
}

.budgets-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  gap: 30px;
}

.caption {
  font-size: 35px;
  font-weight: 700;
  color: #3498db;
}

.buttons-container {
  margin-right: 10px;
}
.create-budget-button {
  background-color: #4CAF50;
}

.view-budget-button {
  background-color: #097969;
}

.delete-budget-button {
  background-color: #e74c3c;
}

.budgets-table th:first-child, .budgets-table td:first-child {
  width: 2%;
}
.budgets-table th:last-child, .budgets-table td:last-child {
  width: 45%;
}

/*# sourceMappingURL=all_budgets.css.map */
