.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 24px;
  background-color: white;
  gap: 10px;
}
.header nav ul li {
  list-style: none;
  margin: 0 1rem;
}
.header nav ul li a {
  color: #333;
  text-decoration: none;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #333;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}
.header nav ul li a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.budget-info-container .info-header button, .new-member-button, .list td:last-child button {
  padding: 10px 15px;
  margin: 2px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.budget-info-container .info-header button:hover, .new-member-button:hover, .list td:last-child button:hover {
  filter: brightness(90%);
}

.item input, .new-member-input {
  border: 1px solid #999;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}
.item input:hover, .new-member-input:hover, .item input:focus, .new-member-input:focus {
  border-color: #999;
}
.item input:focus, .new-member-input:focus {
  box-shadow: 0 0 5px #999;
}
.item input::placeholder, .new-member-input::placeholder {
  color: #999;
}
.item input.error, .error.new-member-input {
  border-color: #e74c3c;
}

.budget-info-container {
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.budget-info-container .info-header .budget-info {
  text-align: center;
  margin-bottom: 20px;
  color: #3498db;
  font-size: 30px;
  font-weight: 700;
}

.list {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.list th {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
.list td {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
  text-align: center;
}
.list td:last-child button {
  padding: 5px 10px;
}

body {
  margin: 0;
  background-color: #F0F4F7;
}

.budget-info-container {
  max-width: 800px;
}
.budget-info-container .info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.budget-info-container .info-header .budget-info {
  margin: 0;
}
.show-report-button {
  background-color: #3498db;
}

.transfer-money-button {
  background-color: #4CAF50;
}

.delete-button {
  background-color: #e74c3c;
}

.item {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.item label {
  flex: 1;
  font-weight: bold;
  margin-right: 10px;
}
.item input {
  flex: 2;
}

.delete-button {
  background-color: #e74c3c;
}

.new-member-container {
  width: 100%;
  margin: 10px;
}

.new-member-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.new-member-caption {
  font-weight: bold;
  font-size: 19px;
}

.new-member-button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #4CAF50;
}

.new-member-input {
  box-sizing: border-box;
  width: 100%;
}

/*# sourceMappingURL=budget_info.css.map */
