@use 'header.scss';

.header {
	@extend %header;
}

$cell-border-color: #5d23bb;

.budgets-container {
	margin: 100px;
	margin-top: 20px;
}

.budgets-container-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: auto;
	gap: 30px;
}

.caption {
	font-size: 35px;
	font-weight: 700;
	color: #5d23bb;
}

.buttons-container {
	margin-right: 10px;
}

.buttons-container button {
	padding: 10px;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin: 3px;
}

.create-budget-button {
	background-color: #007bff;
}

.edit-budget-button {
	background-color: #097969;
}

.delete-budget-button {
	background-color: #A52A2A;
}

.create-budget-button:hover {
	background-color: #0069d9;
}

.edit-budget-button:hover {
	background-color: #075e52;
}

.delete-budget-button:hover {
	background-color: #6E260E;
}

.budgets-table {
	border-collapse: separate;
	border-spacing: 0px 20px;
	width: 100%;
	table-layout: fixed;

	caption {
		font-size: 33px;
	}

	th, td {
		text-align: left;
		font-size: 19px;
		vertical-align:middle;
		padding: 10px;
	}
	thead {
		color: grey;
		font-weight: 700;
	}

	tbody tr {
		background-color: white;
		box-shadow: 0 0 4px blue;
		transition: all .2s ease-in-out;
	}

	tbody tr:hover {
		transform: scale(1.003); 
	}

	th:first-child,td:first-child {
		width: 2%;
	}
	th:last-child,td:last-child {
		width: 45%;
	}

	// source: https://codepen.io/AllThingsSmitty/pen/MyqmdM
	@media screen and (max-width: 1000px) {
		thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		
		td {
			display: block;
			width: 95% !important;
		}
		
		td::before {
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
			width: 100%;
		}
		
		td:last-child {
			border-bottom: 0;
		}
	}
}

body {
	background-color: #f5f5f5;
	margin: 0;
}




